.Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.InputWrapper {
  margin: 1rem 0;

  > label {
    display: inline-block;

    width: 100px;
  }
}

.Select {
  &:invalid {
    border: 1px solid red;
  }
}
